################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

*.suo
/bin/Debug
/obj/Debug
/ParserGenerator/GplexBuffers.cs
/ParserGenerator/Parser.cs
/ParserGenerator/ScanAction.cs
/ParserGenerator/Scanner.cs
/GPPG.csproj.user
/obj
/.vs/GPPG/DesignTimeBuild
GPpg.csproj.old
